<div id="loginbox">
<br><br><br><br><br>

<div class="row-fluid">
	<h2 class="pagination-centered"><small id="notice"><%= notice %></small></h2>
</div>

<div class="row-fluid">
	<div class="span4"></div>
	<div class="span4">
		<h1 class="pagination-centered">Sign In</h1>
	</div>
	<div class="span4"></div>
</div>

<br>

<div>
	<%= form_tag sessions_url, :class => "form", :style => "" do %>

		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span4">
				<div class="control-group">
					<%#= label_tag :email, "email", :class => "control-label" %>
					<div class="controls">
						<%= text_field_tag :email, "email", :placeholder => "email", :value => "", :class => "span12" %>
					</div>
				</div>
			</div>
			<div class="span4"></div>
		</div>

		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span4">
				<div class="control-group">
					<%#= label_tag :password, "password", :class => "control-label" %>
					<div class="controls">
						<%= password_field_tag :password, "password", :placeholder => "password", :value => "", :class => "span12" %>
					</div>
				</div>
			</div>
			<div class="span4"></div>
		</div>

		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span4">
				<div class="submitbox">
					<div class="actions">
						<%= submit_tag 'Sign In', :class => "btn btn-block btn-primary btn-large" %>
					</div>
				</div>
			</div>
			<div class="span4"></div>
		</div>

	<%end%>

</div>