
<h2><%= @current_phase.type.capitalize %> Phase <small><%= link_to "upload" %></small></h2>
<br />

<% if @upload == 'true'%>
  <%= form_for(@post, :html => {:multipart => true}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title, :class => "input-xlarge", :placeholder => (:title).capitalize%>
      <label class="checkbox inline">
        <input type="checkbox", name="post[comment]">Allow comments?
      </label>
    </div>
    <div class="field">
      <%= f.text_area :message, :rows => 4, :class => "input-xxlarge", :placeholder => "Type your message here."%>
    </div>
    <div class="field">
      <%= f.file_field :attachment, :class => "input-file uniform_on", :id => "fileInput" %>
    </div>
    <!-- Hidden fields -->
      <%= f.hidden_field :phase_id, :value => @current_phase.id %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
    <!-- end -->
    <div class="actions">
      <%= f.submit "Upload", :class => "btn btn-inverse" %>
    </div>
  <% end %>
<% end %>

<br>

<!-- Posts by users (see http://twitter.github.com/bootstrap/components.html#media and scroll to media objects) -->
<ul class="media-list">
  <% @posts.each do |post| %>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object img-rounded" src="http://localhost:3000/uploads/admin/avatar/10/IMG_0655.JPG" width="64" height="64">
      <p class="pagination-centered">Shaan</p>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= post.title.capitalize %> <small><%= post.updated_at.strftime("%m/%d/%y at %I:%M%P") %></small></h4>
      <p><%= post.message %></p>
      <p>
        <% if post.attachment? %>
          <%= link_to post.attachment.original_filename, post.attachment.url %>
          <%= link_to "View", project_url(:page => "view") %>
          <%= link_to 'Download'%>
        <% end %>  
      </p>
    </div>
  </li>
    <% end %>
</ul>
<!-- end -->











