
<br><br>
<p><%= link_to 'Edit', edit_user_url(@user.id), :class => 'btn pull-right btn-large' %></p>
<div class="row-fluid">
  <div class="span2"></div>
  <div class="span4">
    <a href="#">
      <img src="<%= @user.avatar %>" width="2600"height="2600">
    </a>
  </div>

  <br><br>

  <div class="span4">
    <h2><%= @user.first_name %> <%= @user.last_name %><small><%= if @user.client? then " #{@user.project.name}" else " Perfect Search Media" end %></small></h2>
    <h3><%= @user.email %></h3>
  </div>
</div>

<% if @user.posts.present? %>
  <table class="table table-bordered table-hover">
    <thead></thead>
    <div class="row-fluid lead">
      <h2>My Activity</h2>
    </div>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="span2"><%= post.updated_at.strftime("%m/%d/%y at %I:%M%P") %></td>
          <td class="span7">
            <a href="<%#= project_url(:id => post.project.id,:page => "view", :post_id => post.id) %>"><%= post.title %><small class="muted"> <%= post.snippet %></small></a>
          </td>
          <td class="span3">
            <%= link_to post.attachment_snippet, "" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>




