<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= @attachment.file %>
</p>

<p>
  <b>Url:</b>
  <%= @attachment.url %>
</p>

<p>
  <b>Title:</b>
  <%= @attachment.title %>
</p>

<p>
  <b>Message:</b>
  <%= @attachment.message %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
