<!-- Left Nav Bar -->
<div class="sideNav lead">
    <ul><%= link_to "Overview", project_url(:page => "overview") %></ul>
    <ul>Phase</ul>
	  	<% @phases.each do |phase| %>
			 <li><%= link_to phase, project_url(:page => "phase", :phase => phase) %></li>
		  <% end -%>
    <ul>Logins</ul>
    <ul>Link</ul>
    <ul><%#= link_to 'Upload Files', project_url(:phase => "#{@current_phase.type.downcase}", :upload => true, :class => "lead") %></ul>

</div>
<!-- end -->

<!-- Title and phase drop down -->
<div class="sideNavcontent">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="page-header pagination-centered">
          <h1><%=t '.title', :default => @project.name %> <small>Project ID: <%= @project.id %></small></h1>
          <div class="">
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                Phase
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% @phases.each do |phase| %>
                  <li><%= link_to phase, project_url(:current_phase => phase) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- Progress bar -->
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="progress progress-striped success span10">
          <div class="bar" style="width: <%= progress_bar_level(@project.current_phase) %>%;"></div>
        </div>
        <div class="span1"></div>
      </div>
      <!-- end -->

      <!-- The five phases -->
      <div class="span1"></div>
      	<% @phases.each do |phase| %>
			<div class="span2 pagination-centered phase">
         <div class="<%= if @phase == phase then 'active' end %>"><%= link_to phase, project_url(:page => "phase", :phase => phase) %></div>     
      </div>
		<% end -%>

      <div class="span1"></div>
      <!-- end -->
    </div>
<%= @asdf %>
  </div>


  <div class="row-fluid">
    <!-- Messages -->
    <div class="span12">
      <% if @page.present? %>
        <%= render "projects/pages/#{@page}" %>
      <% end %>
    </div>
    <!-- end -->

  </div>

  </div>
</div>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Active:</b>
  <%= @project.active %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
