<%= form_for(@attachment, :class => "form", :page => "whtever", :html => {:multipart => true}) do |f| %>
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#" style="padding-top:12px;">
        <img class="media-object img-rounded" src="<%= current_user.avatar_url %>" width="64" height="64">
        <p class="pagination-centered"><%= current_user.first_name %></p>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <div class="control-group">
            <div class="controls span12">
              <%= f.text_field :title, :placeholder => "Title", :value => "", :class => "span2" %>
              <small><%= Time.now.strftime("%m/%d/%y at %I:%M%P") %></small>
            </div>
          </div>
        </h4>
        <%= f.text_area :message,:rows => 2, :class => "span12", :placeholder => "Type your description here..."%>
        <div class="row-fluid">
          <span class="input-prepend"><span class="add-on">http://</span></span>
          <%= f.text_field :url, :placeholder => "www.example.com", :class => "span3", :id => "prependedInput" %>
          or
          <%= f.file_field :file, :class => "span3" %>
        </div>
        
        <div class="actions">
          <%= f.submit "Post Message", :class => "btn btn-inverse", :phase => @phase %>
        </div>
      </div>
    </li>
  </ul>
  <%= f.hidden_field :post_id, :value => @view_post.id %>
<% end %>