<h2>Project Overview<small><%= link_to " upload" %></small></h2>
<br>

<% if @upload == 'true' %>
  <div class="row-fluid">
    <div class="span12">
        <%= render "projects/pages/upload" %>
    </div>
  </div>
<% end %>

<% if @posts_today.present? %>
  <table class="table table-bordered table-hover">
    <thead></thead>
    <div class="row-fluid lead">Today</div>
    <tbody>
      <% @posts_today.each do |post| %>
        <tr>
          <td  class="span1"><a href="<%= post.id %>"><%= post.user.first_name %></a></td>
          <td class="span1"><%= post.updated_at.strftime("%I:%M%P") %></td>
          <td class="span7">
            <a href="#">
              <%= post.title %>
              <small class="muted"> <%#= post.message[0, 80] + "..." %></small>
              <small class="muted"> <%= post.snippet %></small>

            </a>
          </td>
          <td class="span3"><%= link_to post.attachment.file.filename, "" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @posts_yesterday.present? %>
  <table class="table table-bordered table-hover">
    <thead></thead>
    <div class="row-fluid lead">Yesterday</div>
    <tbody>
      <% @posts_yesterday.each do |post| %>
        <tr>
          <td  class="span1"><a href="<%= post.id %>"><%= post.user.first_name %></a></td>
          <td class="span1"><%= post.updated_at.strftime("%I:%M%P") %></td>
          <td class="span7">
            <a href="#">
              <%= post.title %>
              <small class="muted"> <%#= post.message[0, 80] + "..." %></small>
              <small class="muted"> <%= post.snippet %></small>

            </a>
          </td>
          <td class="span3"><%= link_to "Attachment_title.pdf", "#{}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr></tr>
  </thead>
  <div class="row-fluid lead">Older</div>
  <tbody>
    <tr>
      <td  class="span1"><a href="<%= root_url %>">Stan</a></td>
      <td class="span1">10:00pm</td>
      <td class="span7"><%= link_to "Message Header ", "#" %><small class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore...</small></td>
      <td class="span3"><%= link_to "Attachment_title.pdf", "#{}" %></td>
    </tr>
    <tr>
      <td><a href="<%= root_url %>">Shaan</a></td>
      <td>7:13pm</td>
      <td><%= link_to "Message Header ", "#" %><small class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore...</small></td>
      <td><%= link_to "Attachment_title.pdf", "#{}" %></td>
    </tr>
    <tr>
      <td><a href="<%= root_url %>">Joel</a></td>
      <td>4:00am</td>
      <td><%= link_to "Message Header ", "#" %><small class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore...</small></td>
      <td><%= link_to "Attachment_title.pdf", "#{}" %></td>
    </tr>
    <tr>
      <td  class="span1"><a href="<%= root_url %>">Stan</a></td>
      <td class="span1">10:00pm</td>
      <td class="span7"><%= link_to "Message Header ", "#" %><small class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore...</small></td>
      <td class="span3"><%= link_to "Attachment_title.pdf", "#{}" %></td>
    </tr>
    <tr>
      <td><a href="<%= root_url %>">Shaan</a></td>
      <td>7:13pm</td>
      <td><%= link_to "Message Header ", "#" %><small class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore...</small></td>
      <td><%= link_to "Attachment_title.pdf", "#{}" %></td>
    </tr>
    <tr>
      <td><a href="<%= root_url %>">Joel</a></td>
      <td>4:00am</td>
      <td><%= link_to "Message Header ", "#" %><small class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore...</small></td>
      <td><%= link_to "Attachment_title.pdf", "#{}" %></td>
    </tr>
  </tbody>
</table>