<h2>Project Overview <small><%= link_to "upload", project_url(:page => @page, :upload => 'true') %></small></h2>
<br>

<% if @upload == 'true' %>
  <div class="row-fluid">
    <div class="span12">
        <%= render "projects/pages/upload" %>
    </div>
  </div>
<% end %>

<% if @posts_today.present? %>
  <table class="table table-bordered table-hover">
    <thead></thead>
    <div class="row-fluid lead">Today</div>
    <tbody>
      <% @posts_today.each do |post| %>
        <tr>
          <td  class="span1"><a href="<%= post.id %>"><%= post.user.first_name %></a></td>
          <td class="span1"><%= post.updated_at.strftime("%I:%M%P") %></td>
          <td class="span7">
            <a href="#">
              <%= post.title %>
              <small class="muted"> <%= post.snippet %></small>

            </a>
          </td>
          <td class="span3"><%= link_to post.attachment_snippet, "" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @posts_yesterday.present? %>
  <table class="table table-bordered table-hover">
    <thead></thead>
    <div class="row-fluid lead">Yesterday</div>
    <tbody>
      <% @posts_yesterday.each do |post| %>
        <tr>
          <td  class="span1"><a href="<%= post.id %>"><%= post.user.first_name %></a></td>
          <td class="span1"><%= post.updated_at.strftime("%m/%d/%y") %></td>
          <td class="span7">
            <a href="<%=  %>">
              <%= post.title %>
              <small class="muted"> <%= post.snippet %></small>
            </a>
          </td>
          <td class="span3"><%= post.attachment_snippet %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @posts_older_than_yesterday.present? %>
  <table class="table table-bordered table-hover">
    <thead></thead>
    <div class="row-fluid lead">Older</div>
    <tbody>
      <% @posts_older_than_yesterday.each do |post| %>
        <tr>
          <td  class="span1"><a href="<%= post.id %>"><%= post.user.first_name %></a></td>
          <td class="span1"><%= post.updated_at.strftime("%I:%M%P") %></td>
          <td class="span7">
            <a href="#">
              <%= post.title %>
              <small class="muted"> <%= post.snippet %></small>
            </a>
          </td>
          <td class="span3"><%= post.attachment_snippet %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
