

<h2><%= @phase.capitalize %> Phase <small><%= link_to "upload", project_url(:page => @page, :phase => @phase, :upload => 'true') %></small></h2>

<% if @upload == 'true' %>
  <div class="row-fluid">
    <div class="span12">
        <%= render "projects/pages/upload" %>
    </div>
  </div>
<% end %>

<br>

<!-- Posts by users (see http://twitter.github.com/bootstrap/components.html#media and scroll to media objects) -->
<ul class="media-list">
  <% @posts.each do |post| %>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object img-rounded pagination-centered" src="http://localhost:3000/uploads/admin/avatar/10/IMG_0655.JPG" width="64" height="64">
      <p class="pagination-centered"><%= post.user.first_name %></p>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= post.title %> <small><%= post.updated_at.strftime("%m/%d/%y at %I:%M%P") %></small></h4>
      <p><%= post.message %></p>
      <p>
        <% if post.attachment? %>
          <%= link_to post.attachment.file.filename, post.attachment_url %>
          |
          <%= link_to "View", project_url(:page => "view", :post_id => post.id) %>
          <%= link_to 'Download'%>
        <% end %>  
      </p>
    </div>
  </li>
    <% end %>
</ul>
<!-- end -->












