<div class="row-fluid">
	<div class="span10">
		<h2 class="active"><%= link_to @view_post.title, project_url(:page => "post_view", :post_id => @view_post.id, :phase => @view_post.phase) %> <small><%= @view_post.updated_at.strftime("%m/%d/%y at %I:%M%P") %></small></h2>
	</div>
  <!-- Logic for  download/view link when viewing a post/call or attachment -->
  <% if @attachment_partial == nil %>
    <%if @view_post.attachment? %>
        <% download_view_link = @view_post.attachment_url%>
    <% end %>
  <% elsif @attachment_partial == 'view' %>
    <% download_view_link = @attachment.file_url%>
  <% end %>
  <!-- Setting the download/view link when viewing a post/call or attachment <end> -->

	<div class="span2">
    <ul class="nav nav-pills pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          options
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= if download_view_link then link_to "download/view", download_view_link end %>
          </li>
          <li>
            <%= link_to "delete call", post_url(@view_post.id), :confirm => "Oh snap, I hope you're aware this action will delete this call and everything that goes with it? Be careful, my friend...be careful.", :method => 'DELETE' %>
          </li>
          <li>
            <%= if @attachment_partial == 'view' then link_to "delete attachment", attachment_url(@attachment.id), :confirm => "This action will delete this attachment. I hope you know what you're doing!", :method => 'DELETE' end %>
          </li>          
          <li>
            <%= link_to "call summary", project_url(:page => 'post_view', :post_id => @view_post.id, :phase => @view_post.phase, :attachment_partial => 'call_summary') %>
          </li>
        </ul>
      </li>
    </ul>
	</div>
</div>




<% if @view_post.message.present? %>
	<div class="row-fluid">
		<div class="span10">
			<h5><%= @view_post.message %></h5>
		</div>
    <div class="span2">
    </div>
	</div>
<% end %>


<!-- Tabs for each attachment -->
  <ul class="nav nav-tabs">
    <% @view_post.attachments.each do |attachment| %>
      <% if attachment.id == @attachment.id then attachment_active = 'active' end %>
      <li class="<%= attachment_active %>">
        <%= link_to attachment.title, project_url(:page => 'post_view', :post_id => @view_post.id, :phase => @view_post.phase, :attachment_partial => 'view', :attachment_id => attachment.id) %>
      </li>
    <% end -%>
    <li class="<%= if @attachment_partial == 'upload' then "active" end %>"><a href="<%= project_url(:page => "post_view", :post_id => @view_post.id, :phase => @view_post.phase, :attachment_partial => 'upload') %>"><i class="icon-plus"></i></a></li>
  </ul>
<!-- end -->

<!-- Renders either the attachment view page or the add attachment uploader -->
  <% if @attachment_partial %>
    <div class="row-fluid">
      <div class="span12">
          <%= render "projects/pages/attachment_#{@attachment_partial}" %>
      </div>
    </div>
  <% end %>
<!-- end -->

<!-- Shows the call/post attachment or URL uploaded -->
<% if @attachment_partial == nil %>
  <% if @view_post.attachment? %>
    <div class="row-fluid">
      <iframe class="span12" src="<%= @view_post.attachment_url %>" height="800"frameborder="0">Unfortunately, your browser does not support the use of iframes. Please upgrade to a different browswer like Google Chrome or Mozilla Firefox</iframe>
    </div>
  <% end %>
  <% if @view_post.url.present? %>
    <iframe height="1000" width="100%" frameBorder="0" src="http://<%= @view_post.url %>">Unfortunately, your browser does not support the use of iframes. Please upgrade to a different browswer like Google Chrome or Mozilla Firefox</iframe>
  <% end %>
<% end %>
<!-- end -->

<br><br><br>


<% if @attachment_partial != 'upload' && @attachment_partial != 'call_summary' %> <!-- won't show any notes or note adding options if it's on the attachment upload page -->
  <!-- Shows the message box to add notes -->
  <%= form_for(@note, :class => "form", :html => {:multipart => true}) do |f| %>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#" style="padding-top:12px;">
          <img class="media-object img-rounded" src="<%= current_user.avatar_url %>" width="64" height="64">
          <p class="pagination-centered"><%= current_user.first_name %></p>
        </a>
        <div class="media-body">
          <%= f.text_area :text,:rows => 4, :class => "span12", :placeholder => "Type your message here..."%>
          <div class="actions">
            <%= f.submit "Add Note", :class => "btn btn-inverse", :phase => @phase %>
          </div>
        </div>
      </li>
    </ul>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :post_id, :value => @view_post.id %>
    <% if @attachment_partial == 'view' %>
      <%= f.hidden_field :attachment_id, :value => @attachment.id %>
    <% end %>
  <% end %>
  <!-- end -->

  <!-- Shows the list of added notes -->
  <ul class="media-list">
    <% @notes.each do |note| %>
      <li class="media">
        <a class="pull-left" href="#">
          <%= image_tag note.user.avatar, :class => "media-object img-rounded pagination-centered", :width => "64", :height => "64" %>
          <p class="pagination-centered"><%= note.user.first_name %></p>
        </a>
        <div class="media-body">
          <p><%= note.text %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <!-- end -->
<% end %>

