<%= form_for(@post, :class => "form", :page => "whtever", :html => {:multipart => true}) do |f| %>
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#" style="padding-top:12px;">
        <img class="media-object img-rounded" src="<%= current_user.avatar_url %>" width="64" height="64">
        <p class="pagination-centered"><%= current_user.first_name %></p>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <div class="control-group">
            <div class="controls span12">
              <%= f.text_field :title, :placeholder => "Message Title", :value => "", :class => "span2" %>
              <small><%= Time.now.strftime("%m/%d/%y at %I:%M%P") %></small>
            </div>
          </div>
        </h4>
        <%= f.text_area :message,:rows => 4, :class => "span12", :placeholder => "Type your message here..."%>
        <%= f.file_field :attachment %>
        <label class="checkbox">
          <input type="checkbox" value="" name="private">
          Keep this private—client will not see this
        </label>
        <div class="actions">
          <%= f.submit "Post Message", :class => "btn btn-inverse", :phase => @phase %>
        </div>
      </div>
    </li>
  </ul>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :phase, :value => @phase %>
  <%= f.hidden_field :project_id, :value => @project.id %>
<% end %>