<div class="row-fluid">
	<div class="span11">
		<h2><%= @view_post.title %> <small><%= @view_post.updated_at.strftime("%m/%d/%y at %I:%M%P") %></small></h2>
	</div>
	<div class="span1">
		<h2 class="span1"><small><%= link_to "download", @view_post.attachment_url%></small></h2>
	</div>	
</div>

<% if @view_post.message.present? %>
	<div class="row-fluid">
		<div class="span12">
			<%= @view_post.message %>
		</div>
	</div>
	<br>
<% end %>

<div class="row-fluid">
	<!-- <iframe class="span12" src="http://50.22.138.70/~admin11/dev/wp-content/uploads/2012/11/traffic.jpg" style="height: 900px;" frameborder="0"></iframe> -->
	<iframe class="span12" src="<%= @view_post.attachment_url %>"  style="height: 1000px;" frameborder="0"></iframe>
</div>