<div class="row-fluid">
	<div class="span11">
		<h2><%= @view_post.title %> <small><%= @view_post.updated_at.strftime("%m/%d/%y at %I:%M%P") %></small></h2>
	</div>
	<div class="span1">
		<%if @view_post.attachment? %><h2 class="span1"><small><%= link_to "download", @view_post.attachment_url%></small></h2><% end %>
	</div>	
</div>

<% if @view_post.message.present? %>
	<div class="row-fluid">
		<div class="span12">
			<%= @view_post.message %>
		</div>
	</div>
	<br>
<% end %>

<% if @view_post.attachment? %>
	<div class="row-fluid">
		<iframe class="span12" src="<%= @view_post.attachment_url %>"  style="height: 1000px;" frameborder="0"></iframe>
	</div>
<% end %>
<% if @view_post.url.present? %>
<iframe height="1000" width="100%" frameBorder="0" src="http://<%= @view_post.url %>">your browser does not support IFRAMEs</iframe>
<% end %>